[user]
	email = antonio.macias.ojeda@gmail.com
	name = Antonio M. Macías Ojeda
[core]
	editor = vim
	excludesfile = ~/.gitignore
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	cob = checkout -b
	last = log -1 HEAD
	unstage = reset HEAD --
	visual = !gitk &
	u = add -u
	aa = add -A
	a = add
	ctags = !.git/hooks/ctags
[init]
	templatedir = ~/.git_template
[difftool]
	prompt = false
