[user]
	email = antonio.macias.ojeda@gmail.com
	name = Antonio M. Macías Ojeda
[core]
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = input
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
	conflictstyle = diff3
[push]
	default = simple
[init]
	templatedir = ~/.git_template
[alias]
# Absolutely awesome post: http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
	co = checkout
	cob = checkout -b
	cot = checkout --track
	br = branch
	brr = branch -r
	bra = branch -a
	r = remote
	rv = remote -v show
	ra = remote add
	ci = commit
	civ = commit -v
	st = status
	stv = status -v
	stvv = status -vv
	last = log -1 HEAD
	unstage = reset HEAD --
	visual = !gitk &
	u = add -u
	aa = add -A
	a = add
	filelog = log -u
	fl = log -u
	ls = log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]'
	lsd= log --pretty=format:'%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]' --date=short
	lsnc = log --pretty=format:'%h%d %s [%cn]'
	ll = log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]' --numstat
	lld = log --pretty=format:'%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]' --numstat --date=short
	llnc = log --pretty=format:'%h%d %s [%cn]' --numstat
	la = "!git config -l | grep alias | cut -c 7-"
	ctags = !.git/hooks/ctags
