[user]
	email = antonio.macias.ojeda@gmail.com
	name = Antonio M. Macías Ojeda
[core]
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = input
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
	conflictstyle = diff3
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
[init]
	templatedir = ~/.git_template
[alias]
# Absolutely awesome post: http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
	co = checkout
	cob = checkout -b
	cot = checkout --track
	br = branch
	brr = branch -r
	bra = branch -a
	r = remote
	rv = remote -v show
	ra = remote add
	ci = commit
	civ = commit -v
	s = status -s
	st = status
	stv = status -v
	stvv = status -vv
	last = log --oneline --decorate -1 HEAD
	unstage = reset HEAD --
	visual = !gitk &
	u = add -u
	aa = add -A
	a = add
	filelog = log -u
	fl = log -u
	lg = log --oneline --decorate --all --graph
	ls = log --oneline --decorate
	lsv = log --pretty=format:'%C(auto)%h %d %s %C(green)(%cr) %C(blue)<%aN>'
	ll = log --oneline --decorate --stat
	llv = log --pretty=format:'%C(auto)%h %d %s %C(green)(%cr) %C(blue)<%aN>' --stat
	la = "!git config -l | grep alias | cut -c 7-"
	ctags = !.git/hooks/ctags
