# Set my layout before starting the WM
# en_US int sorting without deadkeys and swap caps<->escape
setxkbmap -layout us -variant altgr-intl -option nodeadkeys -option "caps:swapescape"
# Set $XRANDR_[PRIMARY|SECONDARY] variables
source ~/bin/set_xrandr_variables
# Replace the i3 config template variables
sed -e "s/\$XRANDR_PRIMARY/$XRANDR_PRIMARY/" -e "s/\$XRANDR_SECONDARY/$XRANDR_SECONDARY/" ~/.i3/config.template > ~/.i3/config
# Set laptop screen to full brightness by default
# xbacklight -set 100
