# Source .Xresources, no DM
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources
#
# Setup displays, no DM. Setup_displays is a symlink to one of the custom xrandr
# files in ~/bin. Doing it this way because I use a different `xrandr_X` script
# depending on which system I am using
# Note: has to be after .Xresources
source ~/bin/setup_displays

# gnome-keyring
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

# Set my layout before starting the WM
# en_US int sorting without deadkeys and swap caps<->escape
setxkbmap -layout us -variant altgr-intl -option nodeadkeys -option "caps:swapescape"
# Set laptop screen to 40% brightness by default
light -S 40
# Touchpad properties
~/bin/touchpad
