! DPI default
Xft.dpi: 96

! Font configs
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: true
Xft.rgba: rgb

! Cursor config
Xcursor.theme: Vanilla-DMZ
Xcursor.size: 32
